<%- include("header") -%>

<h1>This is the About page</h1>
<h5>This website is to create a todo of your daily routine and do not forget to any work.
  Our motive is to help people to not forget any important works in their day to day life.</h5>

<%- include("footer") -%>
